<div id="app">
  <div class="container">
    <h1>Kaspers Wishlist 2020</h1>

    <table mat-table [dataSource]="wishes" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          Name
        </th>
        <td mat-cell *matCellDef="let wish">{{ wish.name }}</td>
      </ng-container>

      <ng-container matColumnDef="link">
        <th mat-header-cell *matHeaderCellDef>
          Wish
        </th>
        <td mat-cell *matCellDef="let wish">
          <a
            mat-raised-button
            href="{{ wish.link }}"
            target="_blank"
            color="accent"
            >{{ wish.link }}</a
          >
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
