#app {
  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    max-width: 860px;
    margin-top: 3rem;

    h1 {
      font-weight: 800;
      font-size: 2rem;
      color: rgb(58, 58, 58);
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
      margin-bottom: 2.5rem;
    }

    table {
      width: 100%;
    }
  }
}
